.carouselslide {
    z-index: 10;
    width: 100%;
}

.caro-container {
    height: 400px;
    width: 800px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.carouselslide2 {
    z-index: 10;
    width: 100%;
}

.caro-container2 {
    height: 600px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

@media (max-width: 1366px) {
    .caro-container {
        height: 200px;
        width: 360px;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .caro-container2 {
        height: 200px;
        width: 360px;
        margin-bottom: 65px;
        margin-top: 30px;
    }
}