.framecontainer {
    width: 100vw; /* 100% of the viewport width */
    height: auto; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Make it fixed to stay in place as you scroll */
    top: 0;
    left: 0;
    z-index: -1; /* Ensures that content scrolls over the background */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background */
    background-color: #4D5359;
  }
  
  .framecontainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the aspect ratio is maintained */
  }