.loading-bar {
  height: 200px;
  width: 850px;
  /* border: solid;
  border-color: blue; */
  position: fixed;
  top:47%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease; /* Smooth transition for fading and shrinking */
  z-index: 10; /* Ensure it's above other content */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 


.myportfolioname {
    display: flex;
    justify-content: center;
    animation: fadeInUpS 2s ease-out forwards; /* Apply the animation */
}

.matt{
    font-family: 'Heebo', sans-serif;
    color: white;
    padding-right: 10px;
    font-size: 40px;
    font-weight: semi-bold;
}

.portfolio {
    font-family: 'Heebo', sans-serif;
    color: #A398A9;
    font-size: 40px;
    padding-left: 10px;
    font-weight: 100;
}


.scroll-indicator {
    margin-top: -150px;
    display: flex;
    width: 250px;
    /* border: solid;
    border-color: blue; */
    justify-content: center;
    position: relative;
    align-items: center;
    opacity: 0;
    animation: fadeInUpS 1.5s ease-out forwards 2s;
  }

  @keyframes fadeInUpS {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }


.arrow1, .arrow2 {
width: 20px; /* or the size of your arrow */
height: 15px; /* or the size of your arrow */
animation: arrow-animation 1.5s infinite; /* Apply the animation below */
position: absolute;
top: 25px;
}

.arrow1 {
left: 20px;
}

.arrow2 {
right: 20px;
}
  
  
@keyframes arrow-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .scroll-down{
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 20px;
}

.stick {
  font-family: 'Heebo', sans-serif;
  color: #443C4C;
  font-weight: bolder;
  font-size: 70px;
  transform: translateY(-55px);
}


@media (max-width: 768px) {
  .matt, .portfolio {
    font-size: 30px;
  }
  .stick {
    font-size: 50px;
    transform: translateY(-35px);
  }
  .scroll-indicator {
    margin-top: -100px;
  }
  .arrow1, .arrow2 {
    height: 10px;
    width: 15px;
    top: 20px;
  }
  .arrow1 {
    left: 40px;
  }
  .arrow2 {
    right: 40px;
  }
  .scroll-down {
    font-size: 15px;
  }
}